services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: fit
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - '8000:8000'
    volumes:
      - ./data:/var/lib/mysql

  web:
    build: .
    ports:
      - '8000:8000'
    volumes:
      - ./app:/app
    depends_on:
      - mysql
    restart: always
    environment:
      - MYSQL_HOST=mysql
      - MYSQL_USER=user
      - MYSQL_PASSWORD=password
      - MYSQL_DATABASE=fit